{% extends "base.html" %}
{% block content %}
<div class="card">
  <img src="{{url_for('static', filename='anon_has_fb.jpg')}}" alt="John" style="width:100%">
  <h1>{{g.user.username}}</h1>
  <p class="title">CEO & Founder, Anonymous</p>
  <p>Harvard University</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <form action={{ url_for('auth.deleteUser', userid=g.user.id) }} method=post>
	  <button type=submit class="btn btn-danger">Delete my account</button>
  </form>
</div>
{% endblock%}
